<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<dict>
			<key>value</key>
			<real>-1.1618426259</real>
			<key>date</key>
			<string>2012-08-28</string>
			<key>l</key>
			<real>-2.6017329022</real>
			<key>u</key>
			<real>0.2949717757</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.5828247293</real>
			<key>date</key>
			<string>2012-08-29</string>
			<key>l</key>
			<real>-1.3166963635</real>
			<key>u</key>
			<real>0.1324086347</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.3790770636</real>
			<key>date</key>
			<string>2012-08-30</string>
			<key>l</key>
			<real>-0.8712221305</real>
			<key>u</key>
			<real>0.0956413566</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.2792926002</real>
			<key>date</key>
			<string>2012-08-31</string>
			<key>l</key>
			<real>-0.6541832008</real>
			<key>u</key>
			<real>0.07171202409999999</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.2461165469</real>
			<key>date</key>
			<string>2012-09-01</string>
			<key>l</key>
			<real>-0.5222677907</real>
			<key>u</key>
			<real>0.0594188803</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.2017354137</real>
			<key>date</key>
			<string>2012-09-02</string>
			<key>l</key>
			<real>-0.4434280535</real>
			<key>u</key>
			<real>0.0419213465</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.1457476871</real>
			<key>date</key>
			<string>2012-09-03</string>
			<key>l</key>
			<real>-0.3543957712</real>
			<key>u</key>
			<real>0.0623761171</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.002610973</real>
			<key>date</key>
			<string>2012-09-04</string>
			<key>l</key>
			<real>-0.3339911495</real>
			<key>u</key>
			<real>0.031286929</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0080692734</real>
			<key>date</key>
			<string>2012-09-05</string>
			<key>l</key>
			<real>-0.2951839941</real>
			<key>u</key>
			<real>0.0301762553</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0296490933</real>
			<key>date</key>
			<string>2012-09-06</string>
			<key>l</key>
			<real>-0.2964395801</real>
			<key>u</key>
			<real>-0.0029821004</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.001317397</real>
			<key>date</key>
			<string>2012-09-07</string>
			<key>l</key>
			<real>-0.2295443759</real>
			<key>u</key>
			<real>0.037903312</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0117649838</real>
			<key>date</key>
			<string>2012-09-08</string>
			<key>l</key>
			<real>-0.2226376418</real>
			<key>u</key>
			<real>0.0239720183</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0059394263</real>
			<key>date</key>
			<string>2012-09-09</string>
			<key>l</key>
			<real>-0.2020479849</real>
			<key>u</key>
			<real>0.0259489347</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0115565898</real>
			<key>date</key>
			<string>2012-09-10</string>
			<key>l</key>
			<real>-0.2042048037</real>
			<key>u</key>
			<real>0.0077863806</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0041183019</real>
			<key>date</key>
			<string>2012-09-11</string>
			<key>l</key>
			<real>-0.1837263172</real>
			<key>u</key>
			<real>0.0137898406</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0353559544</real>
			<key>date</key>
			<string>2012-09-12</string>
			<key>l</key>
			<real>-0.136610008</real>
			<key>u</key>
			<real>0.051403828</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0070046011</real>
			<key>date</key>
			<string>2012-09-13</string>
			<key>l</key>
			<real>-0.1569988647</real>
			<key>u</key>
			<real>0.0202266411</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0004251807</real>
			<key>date</key>
			<string>2012-09-14</string>
			<key>l</key>
			<real>-0.1410340292</real>
			<key>u</key>
			<real>0.0273410185</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0035461023</real>
			<key>date</key>
			<string>2012-09-15</string>
			<key>l</key>
			<real>-0.1438653689</real>
			<key>u</key>
			<real>0.0165445684</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.007797889</real>
			<key>date</key>
			<string>2012-09-16</string>
			<key>l</key>
			<real>-0.1291975355</real>
			<key>u</key>
			<real>0.0232461153</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0025402723</real>
			<key>date</key>
			<string>2012-09-17</string>
			<key>l</key>
			<real>-0.133972479</real>
			<key>u</key>
			<real>0.0116753921</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.005317381</real>
			<key>date</key>
			<string>2012-09-18</string>
			<key>l</key>
			<real>-0.1269266586</real>
			<key>u</key>
			<real>0.0129723291</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0075841521</real>
			<key>date</key>
			<string>2012-09-19</string>
			<key>l</key>
			<real>-0.1283478383</real>
			<key>u</key>
			<real>0.0056371616</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0391388721</real>
			<key>date</key>
			<string>2012-09-20</string>
			<key>l</key>
			<real>-0.1571172198</real>
			<key>u</key>
			<real>-0.0311678828</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0075430252</real>
			<key>date</key>
			<string>2012-09-21</string>
			<key>l</key>
			<real>-0.1097354417</real>
			<key>u</key>
			<real>0.0141132062</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.1850284663</real>
			<key>date</key>
			<string>2012-09-22</string>
			<key>l</key>
			<real>0.0333682152</real>
			<key>u</key>
			<real>0.2140709422</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.07662959599999999</real>
			<key>date</key>
			<string>2012-09-23</string>
			<key>l</key>
			<real>-0.0068472967</real>
			<key>u</key>
			<real>0.1101280569</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0314292271</real>
			<key>date</key>
			<string>2012-09-24</string>
			<key>l</key>
			<real>-0.1074281762</real>
			<key>u</key>
			<real>0.0032669363</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0232608674</real>
			<key>date</key>
			<string>2012-09-25</string>
			<key>l</key>
			<real>-0.09051978419999999</real>
			<key>u</key>
			<real>0.0164250295</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.01968615</real>
			<key>date</key>
			<string>2012-09-26</string>
			<key>l</key>
			<real>-0.084319856</real>
			<key>u</key>
			<real>0.0193319465</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0310196816</real>
			<key>date</key>
			<string>2012-09-27</string>
			<key>l</key>
			<real>-0.0914356781</real>
			<key>u</key>
			<real>0.0094436256</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.07587469669999999</real>
			<key>date</key>
			<string>2012-09-28</string>
			<key>l</key>
			<real>-0.1169814745</real>
			<key>u</key>
			<real>-0.019659551</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0233974572</real>
			<key>date</key>
			<string>2012-09-29</string>
			<key>l</key>
			<real>-0.0356839258</real>
			<key>u</key>
			<real>0.0610712506</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.011073579</real>
			<key>date</key>
			<string>2012-09-30</string>
			<key>l</key>
			<real>-0.0558712863</real>
			<key>u</key>
			<real>0.0346160081</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.002094822</real>
			<key>date</key>
			<string>2012-10-01</string>
			<key>l</key>
			<real>-0.0707143388</real>
			<key>u</key>
			<real>0.0152899266</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.1083707096</real>
			<key>date</key>
			<string>2012-10-02</string>
			<key>l</key>
			<real>-0.1718101335</real>
			<key>u</key>
			<real>-0.0886271057</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.1098258972</real>
			<key>date</key>
			<string>2012-10-03</string>
			<key>l</key>
			<real>-0.1881274065</real>
			<key>u</key>
			<real>-0.1072157972</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0872970297</real>
			<key>date</key>
			<string>2012-10-04</string>
			<key>l</key>
			<real>-0.1731903321</real>
			<key>u</key>
			<real>-0.064381434</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0761992047</real>
			<key>date</key>
			<string>2012-10-05</string>
			<key>l</key>
			<real>-0.1770373817</real>
			<key>u</key>
			<real>0.100085727</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0416654249</real>
			<key>date</key>
			<string>2012-10-06</string>
			<key>l</key>
			<real>-0.1502479611</real>
			<key>u</key>
			<real>0.07511481020000001</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0410128962</real>
			<key>date</key>
			<string>2012-10-07</string>
			<key>l</key>
			<real>-0.1618694445</real>
			<key>u</key>
			<real>0.0881453482</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0214289042</real>
			<key>date</key>
			<string>2012-10-08</string>
			<key>l</key>
			<real>-0.1590852977</real>
			<key>u</key>
			<real>0.0871880288</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.2430880604</real>
			<key>date</key>
			<string>2012-10-09</string>
			<key>l</key>
			<real>0.06362422099999999</real>
			<key>u</key>
			<real>0.2455101587</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.3472823479</real>
			<key>date</key>
			<string>2012-10-10</string>
			<key>l</key>
			<real>0.1553854927</real>
			<key>u</key>
			<real>0.3583991097</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.3360734074</real>
			<key>date</key>
			<string>2012-10-11</string>
			<key>l</key>
			<real>0.2055952772</real>
			<key>u</key>
			<real>0.3812162823</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0463648355</real>
			<key>date</key>
			<string>2012-10-12</string>
			<key>l</key>
			<real>-0.0626466998</real>
			<key>u</key>
			<real>0.0037342957</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0867009379</real>
			<key>date</key>
			<string>2012-10-13</string>
			<key>l</key>
			<real>-0.0867594055</real>
			<key>u</key>
			<real>-0.0223791074</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.1288672826</real>
			<key>date</key>
			<string>2012-10-14</string>
			<key>l</key>
			<real>-0.1161709129</real>
			<key>u</key>
			<real>-0.0534789124</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.1474426821</real>
			<key>date</key>
			<string>2012-10-15</string>
			<key>l</key>
			<real>-0.1559759048</real>
			<key>u</key>
			<real>-0.0646995092</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.1502405066</real>
			<key>date</key>
			<string>2012-10-16</string>
			<key>l</key>
			<real>-0.1604364638</real>
			<key>u</key>
			<real>-0.0602562376</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.1203765529</real>
			<key>date</key>
			<string>2012-10-17</string>
			<key>l</key>
			<real>-0.1569023195</real>
			<key>u</key>
			<real>-0.0578129637</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0649122919</real>
			<key>date</key>
			<string>2012-10-18</string>
			<key>l</key>
			<real>-0.0782987564</real>
			<key>u</key>
			<real>-0.0501999174</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.015525562</real>
			<key>date</key>
			<string>2012-10-19</string>
			<key>l</key>
			<real>-0.1103873808</real>
			<key>u</key>
			<real>-0.0132131311</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.006051357</real>
			<key>date</key>
			<string>2012-10-20</string>
			<key>l</key>
			<real>-0.1089644497</real>
			<key>u</key>
			<real>0.0230384197</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0003154213</real>
			<key>date</key>
			<string>2012-10-21</string>
			<key>l</key>
			<real>-0.1073849227</real>
			<key>u</key>
			<real>0.0017290437</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0063018298</real>
			<key>date</key>
			<string>2012-10-22</string>
			<key>l</key>
			<real>-0.1120298155</real>
			<key>u</key>
			<real>0.0173284555</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.004294834</real>
			<key>date</key>
			<string>2012-10-23</string>
			<key>l</key>
			<real>-0.1076841119</real>
			<key>u</key>
			<real>0.0547933965</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0053400832</real>
			<key>date</key>
			<string>2012-10-24</string>
			<key>l</key>
			<real>-0.1096991408</real>
			<key>u</key>
			<real>0.0560555803</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0070057212</real>
			<key>date</key>
			<string>2012-10-25</string>
			<key>l</key>
			<real>-0.0940613813</real>
			<key>u</key>
			<real>0.0425517607</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0082121656</real>
			<key>date</key>
			<string>2012-10-26</string>
			<key>l</key>
			<real>-0.0906810455</real>
			<key>u</key>
			<real>0.0396884383</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0141422884</real>
			<key>date</key>
			<string>2012-10-27</string>
			<key>l</key>
			<real>-0.0841305678</real>
			<key>u</key>
			<real>0.0340050012</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0041613553</real>
			<key>date</key>
			<string>2012-10-28</string>
			<key>l</key>
			<real>-0.0886723749</real>
			<key>u</key>
			<real>0.039426727</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0013614287</real>
			<key>date</key>
			<string>2012-10-29</string>
			<key>l</key>
			<real>-0.0923481608</real>
			<key>u</key>
			<real>0.0438725574</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0052144933</real>
			<key>date</key>
			<string>2012-10-30</string>
			<key>l</key>
			<real>-0.0937763043</real>
			<key>u</key>
			<real>0.0459998555</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.007890474099999999</real>
			<key>date</key>
			<string>2012-10-31</string>
			<key>l</key>
			<real>-0.0807028001</real>
			<key>u</key>
			<real>0.0334824169</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0099598702</real>
			<key>date</key>
			<string>2012-11-01</string>
			<key>l</key>
			<real>-0.07400013229999999</real>
			<key>u</key>
			<real>0.0280264274</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0001146029</real>
			<key>date</key>
			<string>2012-11-02</string>
			<key>l</key>
			<real>-0.08204302939999999</real>
			<key>u</key>
			<real>0.0326771125</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0047572651</real>
			<key>date</key>
			<string>2012-11-03</string>
			<key>l</key>
			<real>-0.0754113825</real>
			<key>u</key>
			<real>0.0294912577</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.006204557</real>
			<key>date</key>
			<string>2012-11-04</string>
			<key>l</key>
			<real>-0.0750627059</real>
			<key>u</key>
			<real>0.029693607</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0115231406</real>
			<key>date</key>
			<string>2012-11-05</string>
			<key>l</key>
			<real>-0.0663484142</real>
			<key>u</key>
			<real>0.0214084056</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0032634994</real>
			<key>date</key>
			<string>2012-11-06</string>
			<key>l</key>
			<real>-0.0793170451</real>
			<key>u</key>
			<real>0.0355159827</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0108985452</real>
			<key>date</key>
			<string>2012-11-07</string>
			<key>l</key>
			<real>-0.08461238929999999</real>
			<key>u</key>
			<real>0.0409797057</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.009276681300000001</real>
			<key>date</key>
			<string>2012-11-08</string>
			<key>l</key>
			<real>-0.08026683279999999</real>
			<key>u</key>
			<real>0.0373886301</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.009597208600000001</real>
			<key>date</key>
			<string>2012-11-09</string>
			<key>l</key>
			<real>-0.0623739694</real>
			<key>u</key>
			<real>0.0194918693</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0111809358</real>
			<key>date</key>
			<string>2012-11-10</string>
			<key>l</key>
			<real>-0.08195559080000001</real>
			<key>u</key>
			<real>0.038335749</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0023572296</real>
			<key>date</key>
			<string>2012-11-11</string>
			<key>l</key>
			<real>-0.0745443377</real>
			<key>u</key>
			<real>0.0306093592</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0084213775</real>
			<key>date</key>
			<string>2012-11-12</string>
			<key>l</key>
			<real>-0.06577071549999999</real>
			<key>u</key>
			<real>0.0227270619</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0107446453</real>
			<key>date</key>
			<string>2012-11-13</string>
			<key>l</key>
			<real>-0.0617995017</real>
			<key>u</key>
			<real>0.0196547867</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.009457792</real>
			<key>date</key>
			<string>2012-11-14</string>
			<key>l</key>
			<real>-0.0597697849</real>
			<key>u</key>
			<real>0.0191832343</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0031194779</real>
			<key>date</key>
			<string>2012-11-15</string>
			<key>l</key>
			<real>-0.0589126783</real>
			<key>u</key>
			<real>0.0186409442</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0115128213</real>
			<key>date</key>
			<string>2012-11-16</string>
			<key>l</key>
			<real>-0.07671054469999999</real>
			<key>u</key>
			<real>0.0370292452</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.0058347339</real>
			<key>date</key>
			<string>2012-11-17</string>
			<key>l</key>
			<real>-0.0592236472</real>
			<key>u</key>
			<real>0.0198181452</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0235630436</real>
			<key>date</key>
			<string>2012-11-18</string>
			<key>l</key>
			<real>-0.08352994399999999</real>
			<key>u</key>
			<real>0.046280909</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0479795964</real>
			<key>date</key>
			<string>2012-11-19</string>
			<key>l</key>
			<real>-0.1086422529</real>
			<key>u</key>
			<real>0.0113044645</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0218184359</real>
			<key>date</key>
			<string>2012-11-21</string>
			<key>l</key>
			<real>-0.0881634878</real>
			<key>u</key>
			<real>0.0448568265</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0071361172</real>
			<key>date</key>
			<string>2012-11-28</string>
			<key>l</key>
			<real>-0.08073502289999999</real>
			<key>u</key>
			<real>0.0453599734</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0151966912</real>
			<key>date</key>
			<string>2012-12-05</string>
			<key>l</key>
			<real>-0.089995793</real>
			<key>u</key>
			<real>0.0558329569</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0097784855</real>
			<key>date</key>
			<string>2012-12-12</string>
			<key>l</key>
			<real>-0.089466481</real>
			<key>u</key>
			<real>0.0550191387</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.009568149499999999</real>
			<key>date</key>
			<string>2012-12-19</string>
			<key>l</key>
			<real>-0.090513354</real>
			<key>u</key>
			<real>0.057073314</real>
		</dict>
		<dict>
			<key>value</key>
			<real>-0.0034165915</real>
			<key>date</key>
			<string>2012-12-27</string>
			<key>l</key>
			<real>-0.09071512919999999</real>
			<key>u</key>
			<real>0.0561479112</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.3297981389</real>
			<key>date</key>
			<string>2012-12-31</string>
			<key>l</key>
			<real>0.1537781522</real>
			<key>u</key>
			<real>0.3499473316</real>
		</dict>
	</array>
</dict>
</plist>
