<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<array>
            <string>2015/11/08</string>
            <real>10</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/09</string>
            <real>15</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/10</string>
            <real>35</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/14</string>
            <real>7</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/15</string>
            <real>2</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/16</string>
            <real>17</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/17</string>
            <real>33</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/18</string>
            <real>40</real>
            <string>DDDDDDDDDQ</string>
        </array>
		<array>
            <string>2015/11/19</string>
            <real>32</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/20</string>
            <real>26</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/21</string>
            <real>35</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/22</string>
            <real>40</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/23</string>
            <real>32</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/24</string>
            <real>26</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/25</string>
            <real>22</real>
            <string>DQ</string>
        </array>
		<array>
            <string>2015/11/08</string>
            <real>35</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/09</string>
            <real>36</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/10</string>
            <real>37</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/11</string>
            <real>22</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/12</string>
            <real>24</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/13</string>
            <real>26</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/14</string>
            <real>34</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/15</string>
            <real>21</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/16</string>
            <real>18</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/17</string>
            <real>45</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/18</string>
            <real>32</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/19</string>
            <real>35</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/20</string>
            <real>30</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/21</string>
            <real>28</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/22</string>
            <real>27</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/23</string>
            <real>26</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/24</string>
            <real>15</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/25</string>
            <real>30</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/26</string>
            <real>35</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/27</string>
            <real>42</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/28</string>
            <real>42</real>
            <string>TY</string>
        </array>
		<array>
            <string>2015/11/08</string>
            <real>21</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/09</string>
            <real>25</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/10</string>
            <real>27</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/11</string>
            <real>23</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/12</string>
            <real>24</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/13</string>
            <real>21</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/14</string>
            <real>35</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/15</string>
            <real>39</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/16</string>
            <real>40</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/17</string>
            <real>36</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/18</string>
            <real>33</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/19</string>
            <real>43</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/20</string>
            <real>40</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/21</string>
            <real>34</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/22</string>
            <real>28</real>
            <string>SS</string>
        </array>
		<array>
            <string>2015/11/14</string>
            <real>7</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/15</string>
            <real>2</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/16</string>
            <real>17</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/17</string>
            <real>33</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/18</string>
            <real>40</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/19</string>
            <real>32</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/20</string>
            <real>26</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/21</string>
            <real>35</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/22</string>
            <real>40</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/23</string>
            <real>32</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/24</string>
            <real>26</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/25</string>
            <real>22</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/26</string>
            <real>16</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/27</string>
            <real>22</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/28</string>
            <real>10</real>
            <string>QG</string>
        </array>
		<array>
            <string>2015/11/08</string>
            <real>10</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/09</string>
            <real>15</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/10</string>
            <real>35</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/11</string>
            <real>38</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/12</string>
            <real>22</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/13</string>
            <real>16</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/14</string>
            <real>7</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/15</string>
            <real>2</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/16</string>
            <real>17</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/17</string>
            <real>33</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/18</string>
            <real>40</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/19</string>
            <real>32</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/20</string>
            <real>26</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/21</string>
            <real>35</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/22</string>
            <real>4</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/23</string>
            <real>32</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/24</string>
            <real>26</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/25</string>
            <real>22</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/26</string>
            <real>16</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/27</string>
            <real>22</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/28</string>
            <real>10</real>
            <string>SY</string>
        </array>
		<array>
            <string>2015/11/08</string>
            <real>10</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/09</string>
            <real>15</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/10</string>
            <real>35</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/11</string>
            <real>38</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/12</string>
            <real>22</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/13</string>
            <real>16</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/14</string>
            <real>7</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/15</string>
            <real>2</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/16</string>
            <real>17</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/17</string>
            <real>33</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/18</string>
            <real>4</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/19</string>
            <real>32</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/20</string>
            <real>26</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/21</string>
            <real>35</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/22</string>
            <real>40</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/23</string>
            <real>32</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/24</string>
            <real>26</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/25</string>
            <real>22</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/26</string>
            <real>16</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/27</string>
            <real>22</real>
            <string>DD</string>
        </array>
		<array>
            <string>2015/11/28</string>
            <real>10</real>
            <string>DD</string>
        </array>
    </array>
</dict>
</plist>
